doctype html
html
    include parts/head.pug
    body
        div(class='container')
            h1 Générateur de données
                include parts/userForm.pug   
                include parts/footer.pug
