doctype html
html
    head
        title Random Data
        link(rel='stylesheet', href='./style.css')
    body
        h1 Générateur de données
        h2 Configurer mes données
        form(action='/generate', method='post')
            label(for='rows') Nombre de lignes
            br
            input(type='number', name='rows', id='rows', value='10') 
            br          
            button(type='submit') Générer
    footer 
        p © 2024 - Guillaume Web
 
  
